.conteiner{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    /* margin-top: 94px; */    
}
.conteiner-portfolio{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 94px;
    margin-bottom: 94px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}